/* Global elements */

body {
	box-sizing: border-box;
	font-family: Open Sans, regular;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas:
	"header header header"
	"aside main main"
}

button {
	background-color: #1f1f3d;
	border: 0px;
	color: #ffffff;
}

input {
	border: 2px solid #1f1f3d;
	box-sizing: border-box;
	height: 30px;
}

label {
	width: 100%;
}

/* Header */

header {
	align-items: center;	
	background-color: #1f1f3d;
	display: flex;
	flex-wrap: wrap;
	grid-area: header; 
	height: 75px;
	justify-content: space-between;
	padding: 0px 15px;
}

.title {
	color: #ffffff; 
	font-family: Open Sans, ExtraBold;
	margin: 0px;
}

.title-mid {
	color: #fec40e;
}

.search-form {
	display: flex;
	width: 25%;
}

.header-search-bar {
	border: 0px;
	width: 85%;
}

.search-btn {
	background-color: #f4f7f8;
	color: #1f1f3d;
	width: 15%;
}

/* Aside */

aside {
	background-color: #587a8b;
	grid-area: aside;
	height: 875px;
	padding: 20px 15px;
}

.task-form {
	border-bottom: 1px solid #3d6477;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 15px 0px;
	width: 100%;
}

.task-title-input {
	margin: 0px 0px 15px 0px;
}

.task-item-container {
	display: flex;
	margin: 0px 0px 15px 0px;
}

.task-item-container,
.task-title-input,
.make-task-btn,
.clear-task-btn {
	width: 100%;
}

.task-item-input {
	width: 90%
}

.add-item-btn {
	width: 10%;
}

.make-task-btn,
.clear-task-btn {
	height: 30px;	
	margin: 15px 0px;
}

.filter-urgency-btn {
	height: 30px;
	width: 100%;
}

/* Main */

main {
	grid-area: main
}