/* Global elements */

body {
	box-sizing: border-box;
	font-family: Open Sans, regular;
	display: grid;
	grid-template-areas:
	"header header header"
	"aside main main";	
	grid-template-columns: repeat(3, 1fr);
}

button {
	background-color: #1f1f3d;
	border: 0px;
	color: #ffffff;
	font-size: 1em;
	text-align: center;
}

input {
	border: 2px solid #1f1f3d;
	box-sizing: border-box;
	height: 30px;
}

label {
	color: #f4f7f8;
	width: 100%;
}

ul {
	width: 100%;
}

img {
	height: 20px
}

/* Header */

header {
	align-items: center;	
	background-color: #1f1f3d;
	display: flex;
	flex-wrap: wrap;
	grid-area: header; 
	height: 75px;
	justify-content: space-between;
	padding: 0px 15px;
}

.title {
	color: #ffffff; 
	font-family: Open Sans, ExtraBold;
	margin: 0px;
}

.title-mid {
	color: #fec40e;
}

.search-form {
	display: flex;
	width: 25%;
}

.header-search-bar {
	border: 0px;
	width: 85%;
}

.search-btn {
	background-color: #f4f7f8;
	color: #1f1f3d;
	width: 15%;
}

/* Aside */

aside {
	background-color: #47869a;
	grid-area: aside;
	height: 875px;
	padding: 20px 15px;
}

.task-form {
	border-bottom: 1px solid #3d6477;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 15px 0px;
	width: 100%;
}

.task-title-input {
	margin: 0px 0px 15px 0px;
}

.task-item-container {
	display: flex;
	margin: 0px 0px 15px 0px;
}

.task-item-container,
.task-title-input,
.make-list-btn,
.clear-task-btn {
	width: 100%;
}

.task-item-input {
	width: 90%
}

.add-item-btn {
	width: 10%;
}

.make-list-btn,
.clear-task-btn {
	height: 30px;	
	margin: 15px 0px;
}

.filter-urgency-btn {
	height: 30px;
	width: 100%;
}

/* Main */

main {
	display: flex;
	grid-area: main;
	padding: 10px;
}

/* Todo list */

article {
	background-color: #f4f7f8;
	height: fit-content;
	width: 40%;
}

article,
.card-header,
.card-footer {
	background-color: #f4f7f8;
	border: 1px solid #c7d3d8;
}

.card-header {
	height: 40px;
}

.card-title {
	font-size: 1em;
	margin: 0px;
}

.current-tasks {
}

.task-checkbox {
	color: black;
	height: 10px
}

.card-footer {
	display: flex;
	height: 50px;
	justify-content: space-between;
	padding: 10px;
}